.patient-detail > div:last-child{
    border:1px solid;
    height: 280px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    margin-bottom:30px;
}

.patient-bio{
    flex:40%;
    display: flex;
    flex-direction: column;
    border:1px solid;
    border-radius: 10px;
    background-color: white;
    margin:5px;
}
    .patient-bio div{
        flex:50%;
        display: flex;
    }
        .patient-bio div:first-child .patient-img{
            flex:30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .patient-bio div:first-child .patient-img img{
                border-radius: 50%;
            }
        .patient-bio div:first-child .patient-name{
            flex:70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 20px;
            margin: 10px;
        }

        .patient-bio div:last-child div{
            flex:33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .patient-bio div:last-child div span{
            margin:5px;
            font-size: 20px;
            font-weight: bolder;
        }

.patient-profile{
    flex:60%;
    border:1px solid;
    border-radius: 10px;
    background-color: white;
    margin:5px;
    display: grid;
    grid-template-columns: auto auto auto;
}
    .patient-profile div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
        .patient-profile div span:first-child{
            font-weight: bolder;
        }



.addNewdData{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    font-size: 15px;
    border:1px solid var(--lightblue)
}

.patient-records{
    width:100%;
}
.records{
    margin-bottom:100px;    
    display: flex;
    width: 100%;  
}
.records > div{
    padding:10px;
    flex:33%;
}

.doctorlist .doctor, .dateslist .dates{
    border-radius: 10px;
    background-color: var(--lightgrey);
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin:5px 0;
}

.doctorlist .highlight, .dateslist .highlight{
    background-color: #a0a0a0;
}

/* 
.record{
    margin:10px;
}
.record span{
    display: inline-block;
    padding:2px;
    
}
.record span:first-child{
    flex:85%;
}
.record span:nth-child(2){
    background-color: white;
    text-align: center;
    flex:15%;
    border-radius: 50px;
}
.record-dates{
    height: 0;
    overflow: hidden;
    transition: max-height .3s;
    
}


.date{
    width: 350px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: var(--shadow);
    padding:0 20px;
    line-height: 40px;
    margin-top:5px;
    margin-left:100px;
    background-color: var(--lightgrey)
}
.description{
    height: 0;
    width:50%;
    margin-left:200px;
    margin-bottom:10px;
    margin-top:5px;
    border-radius: 50px;
    box-shadow: var(--shadow);
    background-color: var(--lightgrey);
    overflow: hidden;
    transition: max-height .5s;

}
.description-container{
    margin:20px;
}
.description p:nth-child(odd){
    display: inline;
    border-bottom:1px solid;
}
.description p:nth-child(odd){
    display: inline;
    border-bottom:1px solid;
}

.open{
    height: auto;
}



.modal{
    height: 500px;
    width: 500px;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: var(--lightgrey);
    box-shadow: var(--shadow);
    border-radius: 30px;
}
.modal input{
    margin: 10px 0;
}
.modal label{
    display: block;
}
.modal .addrecord{
    display: block;
    width:90%;
    height: 3vw;
    border-radius: 50px;
    outline: none;
    padding-left:30px;
    
} */