.patient-container{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.search-title{
    
}
.search{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    transition: top .5s;
    top:0;
    z-index: 1;
}
.move-top{
    top:-180px;
}
    .search-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border:1px solid grey;
        border-radius:50px;
        padding-left:20px;
        width:50vw;
        height: 40px;
        background-color:white;
    }
        .search-form *{
            height: 90%;
        }
        .search-form input{
            outline:none;
            border:none;
            flex: 90%;
            border-radius:50px;
            background-color: none;
            font-size: 20px;
        }
        .search-form div{
            flex: 10%;
            height: 100%;
            border-radius:50px;
            text-align: center;
            font-size: 25px;
            line-height: 25px;
            color: white;
            background-color:var(--lightblue)
        }
        .search-form div:hover{
            cursor: pointer;
            background-color: rgb(36, 86, 140);
        }
        .search-form div:active{
            background-color:rgb(42, 100, 162)
        }

    .search p{
        transition: opacity .3s
    }

.patients-table{
    display: flex;
    flex-direction: column;
    width:90vw;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.7s;
    opacity: 0;
}
.show{
    opacity: 1;
}
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        -webkit-box-shadow: 0px 18px 56px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 18px 56px -22px rgba(0,0,0,0.75);
box-shadow: 0px 18px 56px -22px rgba(0,0,0,0.75);
    }
    
        table td, table th {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            color: grey;
            padding: 8px;
        }
        table td:last-child,table th:last-child{
            border-right:none;
        }
        table tr:nth-child(even){background-color: #f2f2f2;}

        table tr:hover {background-color: #ddd; cursor: pointer;}
        table tr:active {background-color: rgb(194, 194, 194)}
        table th {
            height: 20px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color:#f2f2f2;
            color: black;
        }
