:root {
    --lightblue: #1e90ff;
    --shadow: 1px 1px 7px -1px rgba(0,0,0,0.75); 
    --lightgrey: rgb(245, 245, 245);
    --mediumgrey : rgb(182, 182, 182);
}
.container{
    height: auto;
    margin:8vw 1vw 1vw 1vw;
}
.div-container{
    margin:1vw;
}
.title{
    border-bottom: 3px solid var(--lightblue);
    margin-bottom:15px; 
}   


.flexer{
    display: flex;
}
.vertical-center{
    align-items: center;
}
.spread{
    justify-content: space-between;
}